[Desktop Entry]
Name=Stoat
Name[ja]=Stoat
Comment=Open source, user-first chat platform
Comment[ja]=オープンソースでユーザーファーストなチャットプラットフォーム
Exec=stoat-desktop
Terminal=false
Type=Application
Icon=dev.mikanbox.stoat.desktop
Categories=Network;InstantMessaging
StartupWMClass=stoat-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=dev.mikanbox.stoat.desktop
